{{- 'section-products-release-tabs.css' | asset_url | stylesheet_tag -}}
{{- 'component-tabs.css' | asset_url | stylesheet_tag -}}

{% assign _section = section.settings %}
{% assign _blocks = section.blocks %}

{% if _section.heading != blank or _blocks.size > 0 %}
  <section class="section-products-release-tabs">
    <div class="page-width">
      {% if _section.heading != blank %}
        <header class="section__head">
          <h2>{{ _section.heading }}</h2>
        </header><!-- /.section__head -->
      {% endif %}
  
      {% if _blocks.size > 0 %}
        <div class="section__body">
          <div class="tabs">
            <div class="tabs__head">
              {% for block in _blocks %}
                {% assign _block = block.settings %}
                
                {% if _block.title != blank %}
                  <button class="tabs__button {% if forloop.index == 1 %}active{% endif %}" data-tab="tab-{{ forloop.index }}">{{ _block.title }}</button>
                {% endif %}
              {% endfor %}
            </div><!-- /.tabs__head -->

            {% for block in _blocks %}
              <div class="tabs__body {% if forloop.index == 1 %}active{% endif %}" id="tab-{{ forloop.index }}">
                {% assign _block = block.settings %}
                {% assign _products = _block.products %}
                
                {% if _products != blank %}
                  {% for product in _products %}
                    {{ product.title }}
                  {% endfor %}
                {% else %}
                  {{ 'This tabs is empty' }}
                {% endif %}
              </div><!-- /.tabs__body -->
            {% endfor %}
          </div><!-- /.tabs -->
        </div><!-- /.section__body -->
      {% endif %}
    </div><!-- /.page-width -->
  </section><!-- /.section-products-release-tabs -->
{% endif %}

{% schema %}
  {
  "name": "Products Release - Tabs",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Tab",
      "type": "tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products",
          "limit": 4
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Release - Tabs"
    }
  ]
}  
{% endschema %}

{% javascript %}
  const tabButtons = document.querySelectorAll('.tabs__button');

  if (tabButtons.length > 0) {
    tabButtons.forEach(button=>{
      button.addEventListener('click',()=>{
        const targetTab = button.getAttribute('data-tab');

        const targetTabParent = button.closest('.tabs');

        if (targetTabParent) {
          // Remove active class from all buttons and contents
          targetTabParent.querySelectorAll('.tabs__button').forEach(btn=>{
            btn.classList.remove('active');
          });
  
          targetTabParent.querySelectorAll('.tabs__body').forEach(content=>{
            content.classList.remove('active');
          });
  
          button.classList.add('active');
          targetTabParent.querySelector(`#${targetTab}`).classList.add('active');
        }
      })
    })
  }
{% endjavascript %}